body {
	padding: 1em;
	margin: 0em;
}

body,td,th {
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 11pt;
}

a:link,a:visited {
	color: blue;
}

h1 a:link,h1 a:visited {
	color: #000;
	text-decoration: none;
}

h1 a:link img {
	vertical-align: middle;
	margin-right: 10px;
}

h2 {
	color: #888;
}

footer {
	font-size: 8pt;
	color: #888;
}